

.container{
    height: 100%;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: 0 0 5px black;
    min-width: 125px;
    min-height: 175px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 48px;
    font-weight: 700;
}
.card>p{
    display: none;
}

.playground{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}
.card.pressed{
    background-color: #808080;
    box-shadow: 0 0 10px #202020;
}
.card.pressed-anim{
    background-color: #808080;
    box-shadow: 0 0 10px #202020;
}
.card.pressed-anim>p{
    display: block;
}
.card.pressed>p{
    display: block;
}
.card.opened{
    background-color: green;
    box-shadow: 0 0 5px green;
}
.card.opened>p{
    display: block;
}