body{
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    height: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 20px 10px;
}
select{
    margin: 0 10px;
    font-weight: 700;
    font-size: inherit;
}
.settings{
    padding: 20px;
}
.card{
    box-shadow: 0 0 5px black;
    min-width: 1px;
    min-height: 1px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 48px;
    font-weight: 700;
}
.card>p{
    visibility: hidden;
}

.playground{
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}
.card.pressed{
    background-color: #808080;
    box-shadow: 0 0 10px #202020;
}
.card.uncorrect{
    background-color: rgb(134, 33, 33);
    box-shadow: 0 0 10px rgb(134, 33, 33);
}
.card.uncorrect>p{
    visibility: visible;
}
.card.pressed>p{
    visibility: visible;
}
.card.opened{
    background-color: green;
    box-shadow: 0 0 5px green;
}
.card.opened>p{
    visibility: visible;
}
button{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    background-color: rgb(98, 98, 189);
    color: black;
}
button:hover{
    background-color: rgb(77, 77, 180);
}